@model FHCCOverviewControl

@{ ViewBag.Title = "FHCC_Overview";
    Layout = "~/Views/Shared/_Layout.cshtml"; }



@using (Html.BeginForm("SearchSalesDate", "SpectrumServices"))
{
<h3>FHCC OVERVIEW - SEARCH</h3>

                <p>

                </p>
                                @Html.LabelFor(m => m.search.FromDate)
                                                @Html.TextBoxFor(m => m.search.FromDate, "{0:d/MM/yyyy}", new { @class = "form-control" })

                                                                @Html.LabelFor(m => m.search.ToDate)

                                                                                @Html.TextBoxFor(m => m.search.ToDate, "{0:d/MM/yyyy}", new { @class = "form-control" })

                                                                                                <p>

                                                                                                </p>
                                                                                                                <table class="table">

                                                                                                                    <tbody>
                                                                                                                        @*<tr>
                                                                                                                                <th scope="row">Boxes sold (this day): </th>
                                                                                                                                <td>@Model.search.FhccBoxesSoldDaily</td>
                                                                                                                            </tr>*@
                                                                                                                        <tr>
                                                                                                                            <th scope="row">Boxes sold (this month): </th>
                                                                                                                            <td>@Model.search.FhccBoxesSoldMonthly</td>
                                                                                                                        </tr>

                                                                                                                    </tbody>
                                                                                                                </table>

                                                                                                                                <p>

                                                                                                                                </p>
                                                                                                                                           



                                                                                                                                                                                <button type="submit" class="btn btn-primary">Search</button>

                                                                                                                                                                                                <p>

                                                                                                                                                                                                </p>
                                                                                                                                                                                                                <h2>FHCC OVERVIEW - THIS MONTH</h2>

                                                                                                                                                                                                                                <table class="table">
                                                                                                                                                                                                                                    @*<thead>
                                                                                                                                                                                                                                            <tr>
                                                                                                                                                                                                                                                <th scope="col">FHCC OVERVIEW</th>
                                                                                                                                                                                                                                            </tr>
                                                                                                                                                                                                                                        </thead>*@
                                                                                                                                                                                                                                    <tbody>
                                                                                                                                                                                                                                        <tr>
                                                                                                                                                                                                                                            <th scope="row">Boxes sold (this day): </th>
                                                                                                                                                                                                                                            <td>@Model.FhccBoxesSoldDaily</td>
                                                                                                                                                                                                                                        </tr>
                                                                                                                                                                                                                                        <tr>
                                                                                                                                                                                                                                            <th scope="row">Boxes sold (this month): </th>
                                                                                                                                                                                                                                            <td>@Model.FhccBoxesSoldMonthly</td>
                                                                                                                                                                                                                                        </tr>

                                                                                                                                                                                                                                    </tbody>
                                                                                                                                                                                                                                </table>


                                                                                                                                                                                                                                                @Html.AntiForgeryToken()}