@model FHCCOverviewControl

@{ ViewBag.Title = "FHCC_Overview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section scripts{


    <script src="~/Scripts/jquery-ui-1.13.1.min.js"></script>

    <script>

        $(function () {
            $(".datepicker").datepicker({
                dateFormat: "mm-dd-yy",
                changeMonth: true,
                changeYear: true,
            });
        })
    </script>

}

@using (Html.BeginForm("SearchSalesDate", "SpectrumServices"))
{
    <body>

        <h3>FHCC OVERVIEW - SEARCH</h3>

        @Html.LabelFor(m => m.search.FromDate)
        @Html.EditorFor(m => m.search.FromDate, new { htmlAttributes = new { @class = "form-control datepicker" } })

        @Html.LabelFor(m => m.search.ToDate)
        @Html.TextBoxFor(m => m.search.ToDate, "{0:d/MM/yyyy}", new { @class = "form-control" })

        <br />

        <div style="background-color: wheat">
            <table class="table">

                <tbody>

                    <tr>
                        <th scope="row">Blister Boxes sold (this month): </th>
                        <td>@Model.search.FhccBoxesSoldMonthly</td>
                    </tr>

                </tbody>
            </table>
        </div>



        <br />

        <button type="submit" class="btn btn-primary">Search</button>

        <br />

        <h1 class="CustomerHeaderBoldColored">DIRECT SALES</h1>
        <h2>FHCC OVERVIEW - THIS MONTH</h2>

        <div style="background-color: wheat">
            <table class="table">

                <tbody>
                    <tr>
                        <th scope="row">Blister Boxes sold (this day): </th>
                        <td>@Model.FhccBoxesSoldDaily</td>
                    </tr>
                    <tr>
                        <th scope="row">Blister Boxes sold (this month): </th>
                        <td>@Model.FhccBoxesSoldMonthly</td>
                    </tr>

                </tbody>
            </table>
        </div>


        @Html.AntiForgeryToken()

    </body>

}