@model FHCCOverviewControl

@{ ViewBag.Title = "FHCC_Overview";
   Layout = "~/Views/Shared/_Layout.cshtml";
    }



@using (Html.BeginForm("SearchSalesDate", "SpectrumServices"))
{
<body style="background-color: #82a43a; ">
  
        <h3>FHCC OVERVIEW - SEARCH</h3>

        @Html.LabelFor(m => m.search.FromDate)
        @Html.TextBoxFor(m => m.search.FromDate, "{0:d/MM/yyyy}", new { @class = "form-control" })

        @Html.LabelFor(m => m.search.ToDate)

        @Html.TextBoxFor(m => m.search.ToDate, "{0:d/MM/yyyy}", new { @class = "form-control" })

    <br />

    <div style="background-color: wheat">
        <table class="table">

            <tbody>

                <tr>
                    <th scope="row">Blister Boxes sold (this month): </th>
                    <td>@Model.search.FhccBoxesSoldMonthly</td>
                </tr>

            </tbody>
        </table>
    </div>

   

   <br />

    <button type="submit" class="btn btn-primary">Search</button>

    <br />

    <h1 class="CustomerHeaderBoldColored">DIRECT SALES</h1>
    <h2>FHCC OVERVIEW - THIS MONTH</h2>

    <div style="background-color: wheat">
        <table class="table">

            <tbody>
                <tr>
                    <th scope="row">Blister Boxes sold (this day): </th>
                    <td>@Model.FhccBoxesSoldDaily</td>
                </tr>
                <tr>
                    <th scope="row">Blister Boxes sold (this month): </th>
                    <td>@Model.FhccBoxesSoldMonthly</td>
                </tr>

            </tbody>
        </table>
    </div>
   

    @Html.AntiForgeryToken()
   
</body>

}